<div class="w-full max-w-[50%] mx-auto mt-2">
  <form [formGroup]="this.form" (ngSubmit)="submit()" class="bg-slate-500 shadow-md rounded px-8 pt-6 pb-5 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="shadow 
        appearance-none border rounded 
        w-full py-2 px-3 text-gray-700 leading-tight 
        focus:outline-none focus:shadow-outline" 
        id="username" 
        type="text" 
        placeholder="Title"
        formControlName="title">
    </div>
    <div class="mb-0">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="Description">
        description
      </label>
      <textarea rows="5" class="shadow appearance-none border
             border-red-500 rounded w-full py-2 
             px-3 text-gray-700 mb-3 leading-tight 
             focus:outline-none focus:shadow-outline" 
             id="description" type="description" 
             placeholder="description"
             formControlName="description"></textarea>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700
                     text-white font-bold 
                      py-2 px-4 rounded 
                      focus:outline-none 
                      focus:shadow-outline" 
                      type="submit">
       {{this.isBtnUpdate ? 'Update' : 'Submit' }} 
      </button>
     
    </div>
  </form>
</div>


<div class="flex flex-col justify-center  p-5 sm:w-1/2 mx-auto" *ngFor="let el of posts$ | async">
  <div class="flex border border-[#fff]  w-full">
    <div class="flex w-full items-center justify-between">
      <div class="p-5 ">
          {{el.id}}
      </div>
      <h2 class="border border-[#fff] p-5  flex-grow">
        {{el.title}}
      </h2>
    </div>
    <div class="flex">
      <button class="px-7 border border-[#fff] " (click)="formFill(el)">
        Edit
      </button>
      <button class="px-7 border border-[#fff] " (click)="onDeleteClick(el.id)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="relative px-5 pt-5 pb-5 border-b-0 border border-[#fff] ">
    <p class="flex-grow">{{el.description}}</p>
  </div>
  <div class="flex justify-center pt-0 p-2 items-start border-t-0 border border-[#fff]">
    <!-- Like button -->
    <button matRipple (click)="onAddReaction(el.id,'like')" class="bg-blue-500 reaction-button  hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-4">
      <i class="fas fa-thumbs-up mr-2"></i> Like
      {{el.reaction.like}}
    </button>
    
    <!-- Love button -->
    <button matRipple (click)="onAddReaction(el.id,'love')" class="bg-red-500 reaction-button  hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-4">
      <i class="fas fa-heart mr-2"></i> Love
      {{el.reaction.love}}
    </button>

    <!-- Happy button -->
    <button matRipple (click)="onAddReaction(el.id,'happy')" class="bg-yellow-500 reaction-button hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded">
      <i class="fas fa-smile mr-2"></i> Happy
      {{el.reaction.happy}}
    </button>
  </div>
 
</div>